<div id="wrapper">
  <header id="header">
    <div class="container">
      <div class="logo"><a href="#"><b>W</b>antlearn</a></div>
      <nav id="nav">
        <div class="opener-holder">
          <a href="#" class="nav-opener"><span></span></a>
        </div>
        <a href="javascript:" class="btn btn-primary rounded">Connexion  </a>
        <div class="nav-drop">
          <ul>
            <li class="active visible-sm visible-xs"><a href="#">Accueil </a></li>
            <li><a href="#">Recherche</a></li>
            <li><a href="#">Aide</a></li>
            
          </ul>
          <div class="drop-holder visible-sm visible-xs">
            <span>Follow Us</span>
            <ul class="social-networks">
              <li><a class="fa fa-github" href="#"></a></li>
              <li><a class="fa fa-twitter" href="#"></a></li>
              <li><a class="fa fa-facebook" href="#"></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <section class="visual">
		<div class="container">
			<div class="text-block">
				<div class="heading-holder">
					<h1>Partagez vos compétences avec une personne près de chez vous !</h1>
				</div>
				<p class="tagline">Partage de compétences entre particulier</p>
				<form action="" method="get" class="search">

          <div class="form__field">
            <input type="search" name="search" placeholder="Entrer une ville " class="form__input">
            <input type="submit" value="Search" class="button">
          </div>
    
        </form>
			</div>
		</div>
		<img src="../assets/background.png" alt="" class="bg-stretch">
  </section>
  
</div>